* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}

.container-fluid {
  width: 100%;
  background-color: #0282f9;
  font-size: 0.8em;
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2em;
}
.container-fluid span {
  margin-left: 2em;
}

.container-header {
  padding: 0em 10%;
  display: flex;
  align-items: center;
  height: 107px;
  min-width: 1143px;
}
.container-header .image {
  width: 20%;
}
.container-header ul {
  width: 80%;
  height: 100%;
  display: flex;
  list-style: none;
}
.container-header ul li {
  line-height: 5em;
  display: block;
  padding: 0.8em;
  height: 100%;
}
.container-header ul li a {
  font-weight: bold;
  font-size: 0.8em;
  display: block;
  text-decoration: none;
  color: black;
}
.container-header ul li:hover, .container-header ul li:active {
  border-bottom: 5px solid #0282f9;
}

footer {
  padding: 0 10%;
  position: relative;
  background-image: url("{{asset('img/footer-bg.jpg')}}");
  background-position: center;
  background-size: contain;
}
footer img {
  position: absolute;
  right: 200px;
  height: 100%;
}
footer .container-footer {
  display: flex;
  padding-top: 2em;
  padding-bottom: 3em;
}
footer .container-footer div {
  margin-right: 1.5em;
}
footer .container-footer div ul {
  list-style: none;
  margin-bottom: 1em;
}
footer .container-footer div ul li:first-child {
  color: black;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
}
footer .container-footer div ul li a {
  color: grey;
  text-decoration: none;
  font-size: 0.8em;
}