* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}

main {
  background-color: black;
}
main .jumbotron {
  width: 100%;
  height: 400px;
  background-image: url("../../img/jumbotron.jpg");
  background-position: center;
  background-position-y: initial;
  position: relative;
}
main .jumbotron .current-series {
  height: 50px;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: -1.5em;
  left: 7em;
  line-height: 3em;
  text-align: center;
  width: 200px;
  background-color: #0282f9;
}
main .container {
  padding: 1em 10%;
  margin-top: 2em;
  color: white;
  text-align: center;
}
main .container .container-titles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .container .container-titles .title {
  margin: 1em;
  width: 12.5%;
}
main .container .container-titles .title img {
  width: 100%;
}
main .container .container-titles .title h2 {
  width: 100%;
  font-size: 1em;
}
main .container .load-more {
  background-color: #0282f9;
  color: white;
  width: 150px;
  height: 50px;
  font-weight: bold;
}
main .connections {
  background-color: #0282f9;
}

.container-fluid {
  width: 100%;
  background-color: #0282f9;
  font-size: 0.8em;
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2em;
}
.container-fluid span {
  margin-left: 2em;
}

.container-header {
  padding: 0em 10%;
  display: flex;
  align-items: center;
  height: 107px;
  min-width: 1143px;
}
.container-header .image {
  width: 20%;
}
.container-header ul {
  width: 80%;
  height: 100%;
  display: flex;
  list-style: none;
}
.container-header ul li {
  line-height: 5em;
  display: block;
  padding: 0.8em;
  height: 100%;
}
.container-header ul li a {
  font-weight: bold;
  font-size: 0.8em;
  display: block;
  text-decoration: none;
  color: black;
}
.container-header ul li:hover, .container-header ul li:active {
  border-bottom: 5px solid #0282f9;
}

footer {
  position: relative;
  background-image: url("../../img/footer-bg.jpg");
  background-position: center;
  background-size: contain;
}
footer .background-img {
  position: absolute;
  right: 200px;
  height: 78%;
}
footer .container-footer {
  padding: 0 10%;
  display: flex;
  padding-top: 2em;
  padding-bottom: 3em;
}
footer .container-footer div {
  margin-right: 1.5em;
}
footer .container-footer div ul {
  list-style: none;
  margin-bottom: 1em;
}
footer .container-footer div ul li:first-child {
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
}
footer .container-footer div ul li a {
  color: grey;
  text-decoration: none;
  font-size: 0.8em;
}
footer .contact {
  padding: 0 10%;
  width: 100%;
  background-color: #303030;
  padding-top: 2em;
  padding-bottom: 2em;
}
footer .contact .container-footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .contact .container-footer-bottom button {
  background-color: #303030;
  color: white;
  border: 4px solid #0282f9;
  padding: 1em;
  cursor: pointer;
}
footer .contact .container-footer-bottom ul {
  display: flex;
  align-items: center;
  list-style: none;
}
footer .contact .container-footer-bottom ul li:first-child {
  color: #0282f9;
  font-size: 1.2em;
  font-weight: bold;
}
footer .contact .container-footer-bottom ul li {
  margin-left: 1em;
}
footer .contact .container-footer-bottom ul .link a img {
  width: 30px !important;
  height: 30px !important;
}