* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}

.single-comic .jumbotron-comic {
  width: 100%;
  height: 400px;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-position: center;
  background-position-y: initial;
  position: relative;
}

