* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}

.single-comic {
  background-color: white;
}

.single-comic .jumbotron-comic {
  width: 100%;
  height: 400px;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-position: center;
  background-position-y: initial;
  position: relative;
}

.single-comic .jumbotron-comic .current-series {
  background-color: #0282f9;
  border: 1px solid white;
  height: 300px;
  font-weight: bold;
  position: absolute;
  bottom: -4em;
  left: 7em;
  text-align: center;
  width: 200px;
}

.single-comic .jumbotron-comic .current-series .comic-book {
  color: white;
  background-color: #0282f9;
  width: 100px;
  position: absolute;
  text-transform: uppercase;
  font-size: 0.8em;
}

.single-comic .jumbotron-comic .current-series img {
  width: 100%;
  height: 90%;
}

.single-comic .jumbotron-comic .current-series button {
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  background-color: #0282f9;
  width: 100%;
  border: none;
}

.single-comic .jumbotron-bluDC {
  width: 100%;
  height: 90px;
  background-color: #0282f9;
  margin-bottom: 3em;
}

.single-comic .comic-show {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.single-comic .comic-show .description {
  padding: 1em;
  width: 70%;
}

.single-comic .comic-show .description h1 {
  color: #6e645e;
  text-transform: uppercase;
}

.single-comic .comic-show .description .price-available {
  background-color: #55ba59;
  padding: 0 0 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-comic .comic-show .description .price-available .price {
  width: 60%;
  color: #a6e377;
}

.single-comic .comic-show .description .price-available .price span {
  color: #6e645e;
  font-weight: bold;
}

.single-comic .comic-show .description .price-available .available {
  width: 20%;
  color: #a6e377;
  text-transform: uppercase;
}

.single-comic .comic-show .description .price-available button {
  background-color: transparent;
  width: 20%;
  height: 4em;
  cursor: pointer;
  color: #6e645e;
}

.single-comic .comic-show .description p {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #6e645e;
  font-size: 0.8em;
}

.single-comic .comic-show .adv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
}

.single-comic .comic-show .adv span {
  text-transform: uppercase;
  color: #6e645e;
}

.single-comic .content {
  padding-bottom: 3em;
  padding-top: 3em;
  width: 80%;
  margin: auto;
  display: flex;
}

.single-comic .content .talent {
  width: 70%;
  font-size: 0.8em;
  color: #0282f9;
}

.single-comic .content .talent h2 {
  margin-bottom: 2em;
  color: #6e645e;
}

.single-comic .content .talent .art-by,
.single-comic .content .talent .written-by {
  margin-top: 1em;
  display: flex;
}

.single-comic .content .talent .art-by span,
.single-comic .content .talent .written-by span {
  color: #6e645e;
  width: 50%;
}

.single-comic .content .specs {
  padding-left: 1em;
  width: 30%;
}

.single-comic .content .specs h2 {
  margin-bottom: 1.5em;
  color: #6e645e;
}

.single-comic .content .specs p {
  color: #6e645e;
  display: flex;
  justify-content: space-between;
}

.single-comic .content .specs p .blue {
  text-transform: uppercase;
  font-weight: bold;
  color: #0282f9;
}

.single-comic .connections {
  background-color: #0282f9;
}

